.productAreaContainer{
    border:1px solid red;
    margin: 200px auto;
}



.grid-2{
    width: 90%;
    display: grid;
    margin: 200px auto;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 30px;
}

.thumbnails img{
    width: 65px;
}
.size-tab{
    width:35px;
    height:35px;
    cursor: pointer;
}
.size-tab:hover{
    background-color: #b9b9b9;
}
.size-tab:focus{
    background-color:#002b5c;
}
@media only screen and (max-width: 1198px){
    .w-88{
        width:100%;
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 700px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .thumbnails{
        display: none;
    }
}
