.topnav {

    box-shadow: 0px 0px 5px #868686;
    position: sticky;
    top: 0;
    justify-content: center;
    z-index: 20;
}

.topnav a:hover{
    color: cadetblue;
}
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 4;
  }
  @media only screen and (min-width: 1200px) {
    header {
      height: 80px;
    }
  }
#next{
  height:60px;
  max-width: 30%;
  margin-right: auto;
  margin-left: auto;
}
#next:hover{
  background-color: #20acc5;
}

.productAreaContainer{
    margin: 200px auto;
}



.grid-2{
    width: 90%;
    display: grid;
    margin: 15px auto;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 30px;
}

.thumbnails img{
    width: 65px;
}

.slides {
    display: none;
}
.slides-container{
    height: 700px;
}
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
/* Input */
  .quantity div {
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #002b5c;
  }
  .quantity i {
    height: 30px;
    width: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #002b5c;
    color: #002b5c;
    cursor: pointer;
  }
#addToBag{
    height: 60px;
}
#buyOnline{
    height: 60px;
}

@media only screen and (max-width: 1286px){
    .w-88{
        width:100%;
    }
    .grid-2{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 830px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .thumbnails{
        display: none;
    }
    .orderDetails div{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .dropdown > span{
        background: none;
    }
}
